/*
  ######################## tailles / effets
  hauteur="48px" 
  delai="300ms"
  image_fond="url(asfalt.png)"
  largeur="100%"
  arrondi="8"
  effet_bouton="background-color:transparent_15pc; border:1px solid #222;border-top:1px solid rgba(200,200,200,0.1); border-bottom:1px solid rgba(0,0,0,0.5);insetshadow 1 2 curhand"
  effet_txt=" txtshadow "
  effet_box="border:1px solid #222;border-top:1px solid rgba(0,0,0,0.5); border-bottom:1px solid rgba(200,200,200,0.1);insetshadow 1 2"

  ########################  couleurs 
  couleur_dominante_sombre="#888"
  couleur_dominante_moyenne="#aaa"
  couleur_texte="#999"
  couleur_lien="#666"
  couleur_hover=lighten(couleur_lien,20)
  couleur_focus="#FF0"
  couleur_active="#ddd"
  couleur_alert="#F00"
  couleur_text_alert=lighten(couleur_alert,50)
  couleur_info="#F90"
  couleur_text_info=lighten(couleur_info,50)
  couleur_success="#0F0"
  couleur_text_success=lighten(couleur_info,50)
  couleur_warning="#00F"
  couleur_text_warning=lighten(couleur_warning,50)
  couleur_selection="#90F"
  couleur_text_selection=lighten(couleur_selection,50)
  couleur_bouton="#888"
  couleur_foncee_bouton=darken(couleur_bouton,50)
  transparent_15pc="rgba(255,255,255,0.15)"
  transparent_25pc="rgba(255,255,255,0.25)"
*/


/* MISC ELEMENTS */
* {borbox}
*::selection { background:image_fond couleur_selection;color:couleur_text_selection!important;}  
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;overflow-y:scroll;height: 100%;}
hr{effet_box marl 5 mar 0}
pre{lh 15 color:#EDD;  marl 25 marr 10 pad 5  mart 10 marb 10 antioverflow }

/* ICON ELEMENTS */ 
/* set background */
    h1.add,
    a.adr,
    p.embed, 

    nav form.login input[type=text], 
    nav form.login input[type=password], 
    nav .logo[type="text"],
    button.suppr, 
    button.txt, 
    button.edit,
    button.public, 
    button.prive,
    nav .logo,
    input[type=file] + label,
    input[type=button].backup,
    p.rss  
    {background-image:url(sprite.png) ; background-repeat:no-repeat!important;}


/* LAYOUT */
body{min-height:100%;height: 100%; position:relative;background-image:image_fond;background-color:couleur_dominante_moyenne; borbox min-width:320px;fs 16 marauto ff_georgia lh 1.5em  color: couleur_texte;}
header,nav{noselect z-index:1;position:fixed;fs 18 }
header{}

nav{overflow-y:auto;width:25%;max-width:350px;min-width:200px; height:100%;top:1px ;left:0;background:transparent_15pc;height:100%;background-image:image_fond;}
    nav hr{mart 10}
    nav .logo{disbl marauto background-position: 0 -1111px!important;width:149px;height:128px;marb 20}
    nav .description{lh 12 fs 12 txtc txti effet_txt curarro noselect}
    nav form.login input{height: 25px;color:couleur_texte;}
    nav form.login input[type="text"]{marr 1 padl 20  background-position: 2px -1826px!important; width:45%;}
    nav form.login input[type="password"]{marr 1 padl 20 background-position: 2px -1422px!important;width:45%;}
    nav form.login input[type="submit"]{mar 0 width:9%;pad 0;fs 14 }
    nav form.login{mar 5}
    nav form.deconnect {width:100%;disib padl 5 padr 5}
    nav form.deconnect input[type="submit"].exit{fs 12 pad 3 lh 12 width:100%; mart 7 border:1px; }
    nav form.deconnect input[type="submit"].exit:hover{}
    nav form.hidden { pad 10 }
    input[type="submit"].exit {txtb fs 12 pad 3 lh 12 width:100%; height: 25px;}
    nav form label{ disib mart 15 width:100%;  fs 14 txti effet_txt}
    nav h1{txtc marb 0 padb 5}
    nav div.recherche {pad 5}
    nav div.recherche input{width:100%; pad 10 fs 18 ff_georgia  }
div.margin{width:25%;max-width:350px;min-width:200px;height:50px; flol mar 0 }
aside{  position : relative; mart 0;width:100%;background-image:image_fond couleur_dominante_moyenne; fs 16  min-height: 87%;height:87%; }
p.home_msg{fs 22 effet_txt #BBB pad 25px}
aside .pagination{txtc mart 15}
aside .pagination em{curarro disib pad 3 fs 18 mar 3 height:25px;width:25px; lh 16 roundc arrondi background-color:transparent_15pc;}
aside .pagination a.pagination_link{disib pad 3 fs 18 mar 3 height:25px;width:25px; lh 16 roundc arrondi}
aside .pagination a.pagination_link:hover{background-color:transparent_15pc;}
footer{txtr  width:100%; height:50px;padr 10}
  footer p.conf{}

.corps{flol pad 10 width:74%; mar 0 min-width:580px;  marb 30  min-height: 100%; }
.snippet_content{padb 10 width:100%;}
.snippet_content .origine,.snippet_content p{marl 25 padl 5 padb 5;}
.tag_cloud {padl 5 padr 5}
.tag_cloud a.checked{border:1px solid red;}
.add_snippet{ pad 10 background:transparent_15pc; roundbottom arrondi}
.corps label{mart 15 disib width:100%;effet_txt #eee }
.corps #config label:before{content:"▸ ";}
.corps #config textarea{height:150px;}
.corps input.pack+label{curhand }
.corps input.pack+label:hover{color:couleur_foncee_bouton; }
.buttons input.pack {flor mart 10}
button.pack{ width:100%;}
pre.logfile{effet_txt color:white;background-color: #888;roundc 5 }
 pre.logfile em.warning{color:#f00;}
 pre.logfile em.ok{color:#0f0;}
/* FORMS & BUTTONS (INCLUDING ALL ELEMENTS WITH BUTTON ASPECT: A H1 etc) */
#import,#replace{disib }

/*  Normal */
    input[type=checkbox]+label,input[type=radio]+label{disib width:auto;}
    #multiselect{hideme}
    #multiselect+label{ width:100%;}
    .multiselect{background-color:rgba(100,100,100,0.5)!important;}
    .multiselect:hover{background-color:rgba(100,100,100,0.9)!important;}

    .filter{disbl width:100%;}
    select{curhand}
    textarea{disib height: 500px; noresiz}
    .bookmarklet textarea{height:200px;}
    select, 
    textarea,
    input[type=text],
    input[type=password]
    {width:100%;effet_box pad 3 outline:none;background-color:transparent_15pc!important;color:couleur_texte;roundc arrondi }

    .tags a, button, 
    .add_snippet .tags label, 
    nav .tag_cloud a,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .multiselect,
    input[type=file] + label,
    .bookmarklet_link a,
    a.button
    {
         *overflow: visible;  line-height: normal; vertical-align: middle;
        noselect mar 0 mart 1 fs 16 disib roundc arrondi effet_bouton effet_txt underoff
        color:inherit; font:inherit; padding:0.45em 0.6em;  
        white-space:nowrap;
    }

    h1.toggle_next{
      mar 0  fs 18 disbl pad 5  underoff roundc 2 effet_txt; effet_bouton
      vertical-align: middle;
      color:inherit;   font:inherit; 
      white-space:normal;
    }
    h1.add{effet_bouton background-position: 4px 9px!important; padl 25}

    button.suppr, 
    button.txt, 
    button.edit,
    button.public, 
    button.prive
    {flor mart 6 height:22px;width:22px;pad 2 border:none; box-shadow: none;}
    button.suppr{background-position: 3px -502px!important;marr 5}
    button.edit{background-position: 2px -704px!important;}
    button.txt{background-position: 2px -1321px!important;}
    button.public{background-position: 2px -1523px!important;}
    button.prive{background-position: 2px -1422px!important;}
    .tag_cloud a.filter{width:100%;}

    input[type=file] + label{width:auto;}
    #import_file + label{mar 1 height:40px;background-position: 5px 12px!important;background-color:rgba(50,250,50,0.5)!important;padl 25 }
    #import_file + label:hover{background-color:rgba(50,200,100,0.9)!important;}
    #replace_file + label{mar 1 height:40px;background-position: 5px -392px!important;background-color:rgba(250,30,30,0.5)!important;padl 25 }
    #replace_file + label:hover{background-color:rgba(250,30,30,0.9)!important;}
    input[type=button].backup{mar 1 height:40px;background-position: 5px -89px!important;background-color:rgba(50,250,50,0.5)!important; padl 25px!important }
    input[type=button].backup:hover{background-color:rgba(50,200,100,0.9)!important;}
    .restore{mar 1 height:40px;background:url(favicon.png) right center no-repeat rgba(250,30,30,0.5)!important;padr 30px!important }
    .restore:hover{background-color:rgba(250,30,30,0.9)!important;}
    .log{mar 1 height:40px;background-color:rgba(50,80,250,0.5)!important;}
    .log:hover{background-color:rgba(50,80,250,0.9)!important;}
  }

/*  Hover */
    select:hover,
    input[type=text]:hover,
    input[type=password]:hover,
    textarea:hover
    {border:1px solid white!important;color:white;}

    .tags a:hover, 
    .add_snippet .tags label:hover, 
    nav .tag_cloud a:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover,
    .button:hover,
    .multiselect:hover{  background-color:couleur_hover;color:white;}

    button.edit:hover,
    footer a:hover,
    button.prive:hover,
    button.public:hover
    {background-color:couleur_hover;color:black;boxhalo couleur_hover}
    .suppr:hover{background-color:couleur_alert!important;boxhalo couleur_alert}
    .txt:hover{background-color:couleur_success!important;boxhalo couleur_success}

    button:hover,
    h1.toggle_next:hover
    {background-color: couleur_hover!important;}
    h1.toggle_next:hover{color: white!important;}

/*  Focus */
    select:focus,
    input[type=text]:focus,
    input[type=password]:focus, 
    textarea:focus
    {background-color:couleur_focus!important; color:black;outline:none;}

/*  Clicked */
     .tags a:active, 
     button:active ,
     .add_snippet .tags label:active, 
     nav .tag_cloud a:active,
     input[type="button"]:active,
     input[type="reset"]:active,
     input[type="submit"]:active,
     .button:active,
      .multiselect:active,
      input[type=file] + label:active{
        effet_box box-shadow:none;border:1px solid white!important;
        background-color: couleur_foncee_bouton!important;
        noselect 
       
      }
      input:checked + label{
         color:white!important; fs 22px!important;border:1px solid white!important;insethalo #FFF
      }



.snippet_content p a{ pad 3 fs 16!important smallcaps}
.snippet_content p.infos{txti txtl fs 12 effet_txt pad 0 mar 0 padr 10}


h1.titre{fs 28 roundc arrondi  marb 20 pad 5 txtc smallcaps}



.snippet_content{roundbottom arrondi  effet_box background:image_fond couleur_dominante_sombre;marr 10}
.add_snippet li{list-style: none;}
.add_snippet .tags{pad 10 marb 10 }
.add_snippet .tags label{ pad 5  curhand fs 16!important  }
.add_snippet .tags input[type=checkbox],.add_snippet .tags input[type=radio]{hideme}
.add_snippet .tags input[type=checkbox]:hover, .add_snippet .tags input[type=radio]:hover{border-color:couleur_hover; }
.add_snippet .tags input:checked + label{}




 

/* LINKS */
a{color:couleur_lien; underoff effet_txt }
a:focus { outline: thin dotted #333; outline: 5px auto; -webkit-focus-ring-color; outline-offset: -2px;}
a:hover { outline: 0; color:couleur_hover;}
a:active { outline: 0;color:white;}
a.warning {disib roundc arrondi padl 3 padr 3 color: couleur_text_warning;}
a.error {disib roundc arrondi padl 3 padr 3 color: couleur_text_alert;}
a.info {disib roundc arrondi padl 3 padr 3 color: couleur_text_info;}
a.success {disib roundc arrondi padl 3 padr 3 color: couleur_text_success;}
a.adr{background-position: 10px -1007px!important; padl 30px!important marl 15}
p.embed{background-position: 9px -600px!important;color:couleur_texte; effet_txt; padl 30px!important mart 5 marr 20 marl 20px!important roundc arrondi effet_box fs 12}

/* MISC CLASSES */
.hidden,.tag_cloud a.hidden,.tag_cloud label.hidden {hideme}
.ghost{hideme!important width:0;height:0;}
p.alert,p.error{background-color:couleur_alert;color:couleur_text_alert;mart 10 pad 10 boxhalo couleur_alert roundc arrondi txtshadow}
p.success{background-color:couleur_success;color:couleur_text_success;mart 10 pad 10 boxhalo couleur_success roundc arrondi txtshadow}
p.info{background-color:couleur_info;color:couleur_text_info;mart 10 pad 10 boxhalo couleur_info roundc arrondi txtshadow}
p.warning{background-color:couleur_warning;color:couleur_text_warning;mart 10 pad 10 boxhalo couleur_warning roundc arrondi txtshadow}
.toggle_next{effet_txt txtb curhand noselect}
.toggle_next:before{content:" ▾";lh 20}
.right{txtr!important}
p.rss{disib background-position: 4px -1624px!important; padl 22 roundc arrondi}

.button_prive{background-color:rgba(250,50,0,0.5)!important;}
.button_prive:hover{background-color:rgba(250,50,0,0.9)!important;}
.button_public{background-color:rgba(0,250,0,0.5)!important;}
.button_public:hover{background-color:rgba(0,250,0,0.9)!important;}

.bookmarklet_link{txtc fs 12 txti}
.bookmarklet_link a {padding:0 2px 0 2px;}

/* tags styles here */
        /* H1.tag / .button_tag{style};*/
        h1.php,.button_php{background-color:rgba(150,0,200,0.5)!important;}
        h1.php:hover,.button_php:hover{background-color:rgba(150,0,200,0.9)!important;}
        h1.cpp,.button_cpp{background-color:rgba(30,30,90,0.5)!important;}
        h1.cpp:hover,.button_cpp:hover{background-color:rgba(30,30,90,0.8)!important;}
        h1.csharp,.button_csharp{background-color:rgba(30,90,30,0.5)!important;}
        h1.csharp:hover,.button_csharp:hover{background-color:rgba(30,90,30,0.9)!important;}
        h1.python,.button_python{background-color:rgba(200,100,0,0.5)!important;}
        h1.python:hover,.button_python:hover{background-color:rgba(200,100,0,1)!important;}
        h1.jquery, .button_jquery{background-color:rgba(0,130,200,0.5)!important;}
        h1.jquery:hover, .button_jquery:hover{background-color:rgba(0,130,200,0.9)!important;}
        h1.css,h1.css3, h1.html, h1.html5,.button_css,.button_css3,.button_html,.button_html5{background-color:rgba(0,150,0,0.5)!important;}
        h1.css:hover,h1.css3:hover, h1.html:hover,h1.html5:hover, .button_css:hover,.button_css3:hover,.button_html:hover,.button_html5:hover{background-color:rgba(0,120,0,0.9)!important;}
        h1.js, h1.javascript,.button_js,.button_javascript{background-color:rgba(0,50,250,0.5)!important;}
        h1.js:hover, h1.javascript:hover,.button_js:hover,.button_javascript:hover{background-color:rgba(0,50,250,0.9)!important;}
        h1.shell,.button_shell{background-color:rgba(0,193,145,0.5)!important;}
        h1.shell:hover,.button_shell:hover{background-color:rgba(0,193,145,1)!important;}
        h1.batch,.button_batch{background-color:rgba(102,150,173,0.5)!important;}
        h1.batch:hover,.button_batch:hover{background-color:rgba(102,150,173,1)!important;}

/* TRANSITIONS */
/* fixed in one shot */
    button,label, input, textarea, a,h1{transitall delai}
    button:hover,label:hover, input:hover, textarea:hover,a:hover, h1:hover{transitall delai}
    label:focus, input:focus, textarea:focus,a:focus{transitall delai}
    button:active,label:active, input:active, textarea:active,a:active, h1:active{transitall delai}



/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
    RESPONSIVE MEDIAQUERIES 
    changer les tailles de polices et virer les floats sur les col
    changer les formats des first et last of type pour supprimer les coins spéciaux toolbar 
    small tablet landscape */
@all  max 800 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  max 320 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  nav a{fs 20px}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  dmax 800 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  dmax 320 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  nav a{fs 20px}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
*/