/*

  hauteur="48px" 
  delai="100ms"
  image_fond="url(noise.png)"
  largeur="100%"
  arrondi="5"
  
  couleur_fond="#aaa"
  couleur_alert="#F00"
  couleur_text_alert=lighten(couleur_alert,50)
  couleur_info="#F90"
  couleur_text_info=lighten(couleur_info,50)
  couleur_success="#0F0"
  couleur_text_success=lighten(couleur_info,50)
  couleur_warning="#00F"
  couleur_text_warning=lighten(couleur_warning,50)
  couleur_selection="#90F"
  couleur_text_selection=lighten(couleur_selection,50)

  couleur_zone_texte_normal="#888"
  couleur_zone_texte_focus="#888"
  couleur_zone_texte_hover="#888"

  couleur_texte_normal="#222"
  couleur_texte_clair=lighten(couleur_texte_normal,20)
  couleur_texte_sombre=darken(couleur_texte_normal,20)

  couleur_lien="#444"
  couleur_hover=lighten(couleur_lien,20)
  couleur_focus="#FF0"
  couleur_active="#ddd"

  couleur_bouton="#888"
  couleur_bord_clair="#AAA"
  couleur_bord_fonce=darken(couleur_bord_clair,70)
  couleur_claire_bouton=lighten(couleur_bouton,20)
  couleur_foncee_bouton=darken(couleur_bouton,50)

  boites widgets
  couleur_titre="#EEE"
  black_25pc="rgba(0,0,0,0.25)"
  black_50pc="rgba(0,0,0,0.50)"


*/


/* MISC ELEMENTS */
* {borbox}
*::selection { background:image_fond couleur_selection;color:couleur_text_selection!important;}  
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;overflow-y:scroll;height: 100%;}
hr{boxemboss 1 marl 5 mar 0}
pre{lh 15 color:#EDD;  marl 25 marr 10 pad 5  mart 10 marb 10 antioverflow }

/* ICON ELEMENTS */ 
/* set background */
    h1.add,
    a.adr,
    p.embed, 
    nav form.login input, 
    nav .logo[type="text"],
    nav form.login input[type="password"],
    button.suppr, 
    button.txt, 
    button.edit,
    button.public, 
    button.prive,
    nav .logo,
    input[type=file] + label,
    input[type=button].backup,
    p.rss  
    {background:url(sprite.png) no-repeat!important;}


/* LAYOUT */
body{min-height:100%;height: 100%; position:relative;background-image:image_fond;background-color:couleur_fond; borbox min-width:320px;fs 16 marauto ff_georgia lh 1.5em  color: couleur_texte_normal;}
header,nav{noselect z-index:1;position:fixed;fs 18 }
header{}

nav{overflow-y:auto;width:25%;max-width:350px;min-width:200px; height:100%;top:1px ;left:0;background:#888;height:100%;background-image:image_fond;boxshadow 1 5}
    nav hr{mart 10}
    nav .logo{disbl marauto background-position: 0 -1111px!important;width:149px;height:128px;marb 20}
    nav .description{lh 12 fs 12 txtc txti txtemboss curarro noselect}
    nav form.login input[type="text"]{padl 20 background-color: couleur_bouton; background-position: 2px -1826px!important; width:45%;}
    nav form.login input[type="password"]{padl 20 background-color: couleur_bouton;background-position: 2px -1422px!important;width:45%;}
    nav form.login input[type="password"]:focus,nav form.login input[type="text"]:focus{background-color:couleur_active!important;}
    nav form.login input[type="submit"]{width:9%;pad 0;background:image_fond!important;fs 14}
    nav form.login{mar 5}
    nav form.deconnect {width:100%;disib padl 5 padr 5}
    nav form.deconnect input[type="submit"].exit{fs 12 pad 3 lh 12 width:100%; mart 7 }
    nav form.hidden { pad 10 }
    input[type="submit"].exit {txtb fs 12 pad 3 lh 12 width:100%; height: 25px;}
    nav form label{ disib mart 15 width:100%;  fs 14 txti txtemboss}
    nav h1{txtc marb 0 padb 5}
    nav div.recherche {pad 5}
    nav div.recherche input{width:100%; pad 10 fs 18 ff_georgia  }
div.margin{width:25%;max-width:350px;min-width:200px;height:50px; flol mar 0 }
aside{  position : relative; mart 0;width:100%;background-image:image_fond couleur_fond; fs 16  min-height: 87%;height:87%; }
aside .pagination{txtc mart 15}
aside .pagination em{curarro disib pad 3 fs 18 mar 3 height:25px;width:25px; lh 16 roundc arrondi background-color:black_25pc;}
aside .pagination a.pagination_link{disib pad 3 fs 18 mar 3 height:25px;width:25px; lh 16 roundc arrondi}
aside .pagination a.pagination_link:hover{background-color:black_25pc;}
footer{txtr  width:100%; height:50px;padr 10}
  footer p.conf{}

.corps{flol pad 10 width:74%; mar 0 min-width:580px;  marb 30  min-height: 100%; }
.snippet_content{padb 10 width:100%;}
.snippet_content .origine,.snippet_content p{marl 25 padl 5 padb 5;}
.tag_cloud {padl 5 padr 5}
.tag_cloud a.checked{border:1px solid red;}
.add_snippet{ pad 10 background:image_fond couleur_bouton; insetshadow 1 4 roundbottom arrondi}
.corps label{mart 15 disib width:100%;txtemboss #eee }
.corps label:before{content:"▸ ";}
.corps input.pack+label{curhand }
.corps input.pack+label:hover{color:couleur_foncee_bouton; }
.buttons input.pack {flor mart 10}
button.pack{ width:100%;}

/* FORMS & BUTTONS (INCLUDING ALL ELEMENTS WITH BUTTON ASPECT: A H1 etc) */
#import,#replace{disib }

/*  Normal */
    input[type=checkbox]+label,input[type=radio]+label{disib width:auto;}
    #multiselect{hideme}
    #multiselect+label{ width:100%;}
    .multiselect{background-color:rgba(100,100,100,0.5)!important;}
    .multiselect:hover{background-color:rgba(100,100,100,0.9)!important;}

    .filter{disbl width:100%;}
    select{curhand}
    textarea{disib height: 500px; noresiz}
    .bookmarklet textarea{height:200px;}
    select, 
    textarea,
    input[type=text],
    input[type=password]
    {width:100%;roundc arrondi boxemboss 1 pad 3 outline:none;}

    .tags a, button, 
    .add_snippet .tags label, 
    nav .tag_cloud a,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .multiselect,
    input[type=file] + label,
    .bookmarklet_link a
    {
         *overflow: visible;  line-height: normal;noselect
        mar 0 mart 1 fs 16 vertical-align: middle;
        list-style:none;  disib  background-color:couleur_bouton;
        background-image:image_fond; border:1px solid rgba(0, 0, 0, 0.4); roundc arrondi
        box-shadow:rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(255, 255, 255, 0.298039) 0 25px 30px -12px inset, rgba(0, 0, 0, 0.6) 0 1px 2px;
        color:inherit; curhand  font:inherit;   padding:0.45em 0.6em;  underoff
        white-space:nowrap;
    }

    h1.toggle_next{
      mar 0  fs 18 vertical-align: middle;
      list-style:none;  disbl  background-color:couleur_claire_bouton;
      background-image:image_fond; border:1px solid rgba(0, 0, 0, 0.4); roundc 2
      box-shadow:rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(255, 255, 255, 0.298039) 0 25px 30px -12px inset, rgba(0, 0, 0, 0.6) 0 1px 2px;
      color:inherit; curhand  font:inherit;  pad 5  underoff
      txtemboss   white-space:normal;  background-color: couleur_bouton;
    }
    h1.add{background-position: 4px 9px!important; padl 25}

    button.suppr, 
    button.txt, 
    button.edit,
    button.public, 
    button.prive
    {flor mart 6 height:22px;width:22px;pad 2 border:none; box-shadow: none;}
    button.suppr{background-position: 3px -502px!important;marr 5}
    button.edit{background-position: 2px -704px!important;}
    button.txt{background-position: 2px -1321px!important;}
    button.public{background-position: 2px -1523px!important;}
    button.prive{background-position: 2px -1422px!important;}
    .tag_cloud a.filter{width:100%;}

    input[type=file] + label{width:auto;}
    #import_file + label{background-position: 5px 12px!important;background-color:rgba(50,250,50,0.5)!important;padl 25 }
    #import_file + label:hover{background-color:rgba(50,200,100,0.9)!important;}
    #replace_file + label{background-position: 5px -392px!important;background-color:rgba(250,30,30,0.5)!important;padl 25 }
    #replace_file + label:hover{background-color:rgba(250,30,30,0.9)!important;}
    input[type=button].backup{background-position: 5px -89px!important;background-color:rgba(50,250,50,0.5)!important; padl 25px!important }
    input[type=button].backup:hover{background-color:rgba(50,200,100,0.9)!important;}
    

/*  Hover */
    select:hover,
    input[type=text]:hover,
    input[type=password]:hover,
    textarea:hover
    {insethalo couleur_hover; outline:none;}
    .tags a:hover, 
    .add_snippet .tags label:hover, 
    nav .tag_cloud a:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover,
    .button:hover,
    .multiselect:hover{  background-color:couleur_hover;}

    button.edit:hover,
    footer a:hover,
    button.prive:hover,
    button.public:hover
    {background-color:couleur_info!important;boxhalo couleur_info}
    .suppr:hover{background-color:couleur_alert!important;boxhalo couleur_alert}
    .txt:hover{background-color:couleur_success!important;boxhalo couleur_success}

    button:hover,
    h1.toggle_next:hover
    {background-color: couleur_hover!important;}
    h1.toggle_next:hover{color: white!important;}

/*  Focus */
    select:focus,
    input[type=text]:focus,
    input[type=password]:focus, 
    textarea:focus
    {background:image_fond couleur_focus;insetshadow 1 3 outline:none;}

/*  Clicked */
     .tags a:active, 
     button:active ,
     .add_snippet .tags label:active, 
     nav .tag_cloud a:active,
     input[type="button"]:active,
     input[type="reset"]:active,
     input[type="submit"]:active,
     .button:active,
      .multiselect:active,
      input[type=file] + label:active{
        boxemboss 1 box-shadow:none;box-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px; 
        background-color: couleur_foncee_bouton!important;
        noselect 
      }




.snippet_content p a{ pad 3 fs 16!important smallcaps}
.snippet_content p.infos{txti txtl fs 12 txtemboss pad 0 mar 0 padr 10}


h1.titre{fs 28 roundc arrondi  marb 20 pad 5 insetshadow 1 4 txtc smallcaps}



.snippet_content{roundbottom arrondi insetshadow 1 3 boxemboss 1 background:image_fond #999;marr 10}
.add_snippet li{list-style: none;}
.add_snippet .tags{pad 10 marb 10 }
.add_snippet .tags label{ pad 5  curhand fs 16!important  }
.add_snippet .tags input[type=checkbox],.add_snippet .tags input[type=radio]{hideme}
.add_snippet .tags input[type=checkbox]:hover, .add_snippet .tags input[type=radio]:hover{border-color:couleur_hover; }
.add_snippet .tags input:checked + label{boxemboss 1 insetshadow 1 3 background:image_fond couleur_bord_fonce; color:white; fs 22!important}




 

/* LINKS */
a{color:couleur_lien; underoff txtemboss }
a:focus { outline: thin dotted #333; outline: 5px auto; -webkit-focus-ring-color; outline-offset: -2px;}
a:hover { outline: 0; color:black!important;}
a:active { outline: 0;color:white;}
a.warning {disib roundc arrondi padl 3 padr 3 color: couleur_text_warning;}
a.error {disib roundc arrondi padl 3 padr 3 color: couleur_text_alert;}
a.info {disib roundc arrondi padl 3 padr 3 color: couleur_text_info;}
a.success {disib roundc arrondi padl 3 padr 3 color: couleur_text_success;}
a.adr{background-position: 10px -1007px!important; padl 30px!important marl 20}
p.embed{background-position: 9px -600px!important;color:couleur_foncee_bouton; txtemboss padl 30px!important mart 5 marr 20 marl 20px!important roundc arrondi boxemboss 1 fs 12}

/* MISC CLASSES */
.hidden,.tag_cloud a.hidden,.tag_cloud label.hidden {hideme}
.ghost{hideme!important width:0;height:0;}
p.alert,p.error{background-color:couleur_alert;color:couleur_text_alert;mart 10 pad 10 boxhalo couleur_alert roundc arrondi txtshadow}
p.success{background-color:couleur_success;color:couleur_text_success;mart 10 pad 10 boxhalo couleur_success roundc arrondi txtshadow}
p.info{background-color:couleur_info;color:couleur_text_info;mart 10 pad 10 boxhalo couleur_info roundc arrondi txtshadow}
p.warning{background-color:couleur_warning;color:couleur_text_warning;mart 10 pad 10 boxhalo couleur_warning roundc arrondi txtshadow}
.toggle_next{txtemboss txtb curhand noselect}
.toggle_next:before{content:" ▾";lh 20}
.right{txtr!important}
p.rss{disib background-position: 4px -1624px!important; padl 22 roundc arrondi}

.button_prive{background-color:rgba(250,50,0,0.5)!important;}
.button_prive:hover{background-color:rgba(250,50,0,0.9)!important;}
.button_public{background-color:rgba(0,250,0,0.5)!important;}
.button_public:hover{background-color:rgba(0,250,0,0.9)!important;}

.bookmarklet_link{txtc fs 12 txti}
.bookmarklet_link a {padding:0 2px 0 2px;}









/*
.sprite-add{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-arrow-down{ background-position: 0 -101px; width: 16px; height: 16px; } 
.sprite-arrow-left{ background-position: 0 -202px; width: 16px; height: 16px; } 
.sprite-arrow-right{ background-position: 0 -303px; width: 16px; height: 16px; } 
.sprite-arrow-up{ background-position: 0 -404px; width: 16px; height: 16px; } 
.sprite-bin{ background-position: 0 -505px; width: 16px; height: 16px; } 
.sprite-bulle-pleine{ background-position: 0 -606px; width: 16px; height: 16px; } 
.sprite-crayon{ background-position: 0 -707px; width: 16px; height: 16px; } 
.sprite-cross{ background-position: 0 -808px; width: 16px; height: 16px; } 
.sprite-delete{ background-position: 0 -909px; width: 16px; height: 16px; } 
.sprite-link{ background-position: 0 -1010px; width: 16px; height: 16px; } 
.sprite-logosv{ background-position: 0 -1111px; width: 149px; height: 128px; } 
.sprite-menu{ background-position: 0 -1324px; width: 16px; height: 16px; } 
.sprite-private{ background-position: 0 -1425px; width: 16px; height: 16px; } 
.sprite-public{ background-position: 0 -1526px; width: 16px; height: 16px; } 
.sprite-rss{ background-position: 0 -1627px; width: 16px; height: 16px; } 
.sprite-settings{ background-position: 0 -1728px; width: 16px; height: 16px; } 
.sprite-user-4{ background-position: 0 -1829px; width: 16px; height: 16px; } 


*/

/* TRANSITIONS */
/* fixed in one shot */
    button,label, input, textarea, a,h1{transitall delai}
    button:hover,label:hover, input:hover, textarea:hover,a:hover, h1:hover{transitall delai}
    label:focus, input:focus, textarea:focus,a:focus{transitall delai}
    button:active,label:active, input:active, textarea:active,a:active, h1:active{transitall delai}



/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
    RESPONSIVE MEDIAQUERIES 
    changer les tailles de polices et virer les floats sur les col
    changer les formats des first et last of type pour supprimer les coins spéciaux toolbar 
    small tablet landscape */
@all  max 800 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  max 320 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  nav a{fs 20px}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  dmax 800 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
@all  dmax 320 {
  html{fs 50%}
  .nomobile, .margin{hideme}
  nav{width:100%!important; position:relative!important;height:auto;txtc clear:both;overflow:hidden;max-width:100%;padb 10}
  nav a{fs 20px}
  aside{ clear:both; width:100%;mar 0 min-width:320px;}
  .corps{width:100%;min-width:320px;}
}
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
*/